#header-img{
    height: 100px; width: 100px;

}
li{
    list-style-type: none;
    text-decoration: none;
    font-size: 3vh;
    color: black;
    padding: 2vw;
    font-family: monospace;
    font-weight: 700;
}
nav{
    width: 100vw;
    background-color:cyan;
}
ul{
    margin:0;
    padding:0;
    display: flex;
}

body{
    margin:0;
}

li:hover{
    background-color:darkred;
}

#header{
    position: fixed;
    display: flex;
}

#VB{
    margin: 0 auto 0;
    width: 550px;
    height: 305px;
    padding-top: 150px;
}

#textbox{
    margin: 150px auto 0;
    width: 225px;
}

@media (max-width: 700px) {
    #VB{
        margin: 0 auto 0;
        width: 200px;
        height: 150px;
        padding-top: 150px;
    }
    
}